<?xml version="1.0" ?>
<robot name="ball">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  
  
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="blue"/>
    </visual>
	
	<collision>
      <geometry>
        <sphere radius="0.2"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
      </geometry>
    </collision>
	
	<inertial>
	  <mass value="10"/>
	  <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
	</inertial>
	
  </link>
  

 
  
 
  

  
</robot>